<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     >
	<Bundle Name="Syntactik Editor" Version="!(bind.packageVersion.Syntactik)" Manufacturer="Syntactik, LLC" UpgradeCode="CB50FDE4-7FA7-4A5A-93ED-73ECE9E6EC3D">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication
				SuppressOptionsUI="no"
				LicenseFile="LicenseFile.rtf"
				LogoFile="res/banner.png"
				ThemeFile="res/RtfLargeTheme.xml"
				LocalizationFile="res/ClassicTheme.wxl"
        ShowVersion="yes"
				/>
    </BootstrapperApplicationRef>

		<Chain>
			<!-- TODO: Define the list of chained packages. -->
			<!-- <MsiPackage SourceFile="path\to\your.msi" /> -->
      <PackageGroupRef Id="GtkSharp"/>
      <MsiPackage Id="Syntactik" SourceFile="$(var.SyntactikSetup.TargetPath)" DisplayInternalUI="yes" ForcePerMachine="yes" Compressed="yes"/>
		</Chain>
	</Bundle>
  <Fragment>
    <util:RegistrySearch Root="HKLM" Key="SOFTWARE\Xamarin\GtkSharp" Result="exists" Variable="IsGtkInstalled" />
    <util:RegistrySearch Root="HKLM" Key="SOFTWARE\Xamarin\GtkSharp" Result="exists" Variable="IsGtkInstalled64" Win64="yes"/>
    <PackageGroup Id="GtkSharp">
      <MsiPackage 
        Id="GtkSharp" 
        SourceFile="gtk-sharp-2.12.45.msi" 
        Cache="yes"
        Compressed="yes"
        Permanent="yes"
        Visible="yes"
        ForcePerMachine="yes"
        DisplayInternalUI="no" 
        Vital="yes" InstallCondition="NOT(IsGtkInstalled OR IsGtkInstalled64)" 
         />
    </PackageGroup>
  </Fragment>
</Wix>
