/src/SyntactikMDAddin/bin
/src/SyntactikMDAddin/obj
/src/SyntactikMDAddin/packages
/src/SyntactikMDAddin/.vs
/src/SyntactikMDAddin/SyntactikMDAddin.userprefs
*.suo
/src/packages
/src/.vs
/src/SyntactikMDAddin.Tests/bin
/src/SyntactikMDAddin.Tests/obj
SyntactikMDAddin.sln.DotSettings.user
*.userprefs
*.user
